.heading {
    background-color: hsl(189, 70%, 70%);
    color: rgb(250, 250, 250);
    text-align: center;
}

.list .li1 {
    font-family: cursive;
}

.list{
    background-color: rgb(64, 118, 233);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

#descr {
    font-family: 'Courier New', Courier, monospace
    font-weight: bolder;
    font-size: 33px;
    text-align: center;
    background-color:thistle;
}

